  body {
     background-color: #D6D1C9;
  }
  hr {
    width: 40%;
    border-style: none;
    border-top-style: dashed;
    border-color: #AABDCB;
    border-width: 5px;
    margin-left: 3px;
    margin-right: 50px;
  }

  h1 {
    color: #8A7B66;
  }

  h2 {
    color: #8A7B66;
  }

  h3 {
    color: #8A7B66;
  }
