  body {
     background-color: #3F72AF;
  }
  hr {
    width: 40%;
    border-style: none;
    border-top-style: dashed;
    border-color: #112D4E;
    border-width: 5px;
    margin-left: 3px;
    margin-right: 50px;
  }

  h1 {
    color: #F9F7F7;
  }

  h2 {
    color: #F9F7F7;
  }

  h3 {
    color: #F9F7F7;
  }
